#section1 {
    background: lightblue;
    align-items: center;
    padding: 20px;
    margin: 30px;
    border-style: solid;
    border-width: 10px;
}

#section2 {
background: bisque;
padding: 20px;
margin: 30px;
border-style: solid;
border-width: 10px;

}

#section3 {
background: lightpink;
padding: 20px;
margin: 30px;
border-style: solid;
border-width: 10px;

}

